program: cli/sweep_train.py
project: diffusion_adamw_lr_simplestories_6
command:
  - ${env}
  - uv
  - run
  - transformerlm-sweep-train
  - --config
  - config/resources/train.toml
method: bayes
metric:
  goal: minimize
  name: metrics.val_loss
parameters:
  training.max_train_iteration:
    value: 2000
  training.val_freq_iteration:
    value: 100
  checkpointing.ckpting_save_iter:
    value: 2000
  optimizer.max_learning_rate:
    distribution: log_uniform_values
    min: 0.0001
    max: 0.001
