[tokenizer]
merges_path = "./data/merges.txt"
vocab_path = "./data/vocab.json"
special_tokens_path = "./data/special_tokens.json"

[model]
vocab_size = 50259
context_length = 512
d_model = 768
num_layers = 8
num_heads = 16
d_ff = 3072
rope_theta = 10000.0
device = "cuda"
dtype = "bfloat16"
mask_token_id = 50258
noise_epsilon = 0.001
random_trunc_prob = 0

[checkpoint]
ckpt_path = "./runs/2025-12-31_17-22-13/versions/v050000/model.safetensors"

[inference]
prompt = "Once upon a time there was"
steps = 128
total_length = 128
block_length = 64
temperature = 0.6
top_p = 0.8
mask_id = 50258
seed = 34123
eos_token_id = 50257
cfg_scale = 0.0
remasking = "low_confidence"
logits_eos_inf = false
confidence_eos_eot_inf = false
