[tokenizer]
merges_path = "./data/merges_simplestories_8k.txt"
vocab_path = "./data/vocab_simplestories_8k.json"
special_tokens_path = "./data/special_tokens_simplestories_8k.json"

[model]
vocab_size = 8000
context_length = 512
d_model = 512
num_layers = 12
num_heads = 8
d_ff = 2048
rope_theta = 10000.0
attention_backend = "torch_sdpa"
attention_sdp_backend = "auto"
device = "cuda"
dtype = "float16"
# mask_token_id = 7999
eot_token_id = 7999
noise_epsilon = 0.001
random_trunc_prob = 0.0

[checkpoint]
ckpt_path = "/home/tadhiel/transformerlm/runs/2026-01-28_07-51-19/versions/v060000/model.safetensors"

[inference]
prompt = "Silently,"
steps = 512
total_length = 512
block_length = 256
temperature = 0.4
top_p = 0.95
mask_id = 7999
seed = 3410
eos_token_id = 7999
cfg_scale = 0.0
remasking = "low_confidence"
logits_eos_inf = false
confidence_eos_eot_inf = false
generation_mode = "ar" # diffusion/ar
