[tokenizer]
merges_path = "./data/merges.txt"
vocab_path = "./data/vocab.json"
special_tokens_path = "./data/special_tokens.json"

[model]
vocab_size = 50258
context_length = 256
d_model = 768
num_layers = 4
num_heads = 16
d_ff = 3072
rope_theta = 10000.0
device = "cuda"
dtype = "bfloat16"
mask_token_id = 50257
noise_epsilon = 0.001
random_trunc_prob = 0

[checkpoint]
ckpt_path = "./runs/2025-12-25_13-31-53/5000.ckpt"

[inference]
prompt = "Oh wow, it's Judy!"
steps = 256
total_length = 256
block_length = 128
temperature = 0.1
mask_id = 50257
