[tokenizer]
merges_path = "./data/gpt2_merges.txt"
vocab_path = "./data/gpt2_vocab.json"
special_tokens = ["<|endoftext|>"]

[model]
vocab_size = 50257
context_length = 256
d_model = 512
num_layers = 4
num_heads = 16
d_ff = 1344
rope_theta = 10000.0
device = "cuda"
dtype = "float16"
mask_token_id = 50256
noise_epsilon = 0.001
random_trunc_prob = 0.01

[checkpoint]
ckpt_path = "./runs/2025-10-14_10-42-53/5000.ckpt"

[inference]
prompt = "Oh wow, it's Judy!"
steps = 256
total_length = 256
block_length = 128
temperature = 0.01
mask_id = 50256
