[optimizer.muon.hidden]
initial_learning_rate = 0.01 # unused in cosine scheduler
max_learning_rate = 0.016689
min_learning_rate = 0.0014
momentum = 0.90
weight_decay = 0.01

[optimizer.muon.head]
initial_learning_rate = 0.003 # unused in cosine scheduler
max_learning_rate = 0.003
min_learning_rate = 0.0003
betas = [0.9, 0.95]
eps = 1e-10
weight_decay = 0.02

[optimizer.muon.embed]
initial_learning_rate = 0.01 # unused in cosine scheduler
max_learning_rate = 0.023
min_learning_rate = 0.0023
betas = [0.9, 0.95]
eps = 1e-10
weight_decay = 0.01

[optimizer.muon.scalar]
initial_learning_rate = 0.0008 # unused in cosine scheduler
max_learning_rate = 0.0008
min_learning_rate = 0.00004
betas = [0.9, 0.95]
eps = 1e-10
weight_decay = 0.02
