[model]
vocab_size = 126464
context_length = 512
d_model = 1024
num_layers = 16
num_heads = 16
d_ff = 4096
rope_theta = 10000.0
device = "cuda"
dtype = "bfloat16"
mask_token_id = 126336
noise_epsilon = 0.001
random_trunc_prob = 0 # 0.01

[optimizer]
optimizer_name = "muon"
betas = [0.9, 0.95] # adamw
eps = 1e-10 # adamw
weight_decay = 0.05 # adamw
initial_learning_rate = 1e-4 # adamw
max_learning_rate = 0.0015 # adamw
min_learning_rate = 0.00015 # adamw
warmup_iters = 2400
cosine_cycle_iters = 45000
grad_clip_max_l2_norm = 1.0

[optimizer.muon.hidden]
initial_learning_rate = 0.01
max_learning_rate = 0.01
min_learning_rate = 0.001
momentum = 0.95
weight_decay = 0.0

[optimizer.muon.head]
initial_learning_rate = 0.003
max_learning_rate = 0.003
min_learning_rate = 0.0003
betas = [0.9, 0.95]
eps = 1e-10
weight_decay = 0.02

[optimizer.muon.embed]
initial_learning_rate = 0.05
max_learning_rate = 0.05
min_learning_rate = 0.005
betas = [0.9, 0.95]
eps = 1e-10
weight_decay = 0.02

[optimizer.muon.scalar]
initial_learning_rate = 0.0008
max_learning_rate = 0.0008
min_learning_rate = 0.00004
betas = [0.9, 0.95]
eps = 1e-10
weight_decay = 0.02

[training]
batch_size = 26
max_train_iteration = 50000
max_val_iteration = 10
val_freq_iteration = 125
ckpting_save_iter = 1000
seed = 3407
skip_validation = true
grad_accum_steps = 2

[data]
runs_path = "./runs"
dataset_name = "karpathy/fineweb-edu-100b-shuffle"
dataset_config = ""
train_split = "train"
val_split = "validation"
text_field = "text"
shuffle_buffer_size = 0
shuffle_seed = 3407

[data.tokenizer]
vocab_path = "./data/vocab.json"
merges_path = "./data/merges.txt"
special_tokens_path = "./data/special_tokens.json"

[logging]
backend = "console"
architecture = "DiffusionLM"
dataset = "FineWebEdu-v.K"

[wandb]
entity = "yiltro8-org"
project = "diffusion_lm"

[ddp]
backend = "gloo"               # gloo/nccl
num_nodes = 1                  # total nodes participating
num_gpus_per_node = 2          # processes launched per node (mp.spawn uses this)
node_rank = 0                  # index of this node
master_addr = "127.0.0.1"      # rank 0 hostname/IP
master_port = "29500"
bucket_size_mb = 200           # 0 = single bucket
