[model]
vocab_size = 50304
context_length = 256
d_model = 512
num_layers = 4
num_heads = 16
d_ff = 1344
rope_theta = 10000.0
device = "cuda"
dtype = "bfloat16"
mask_token_id = 50257
noise_epsilon = 0.001
random_trunc_prob = 0.01

[optimizer]
optimizer_name = "muon"
betas = [0.9, 0.95] # adamw
eps = 1e-10 # adamw
weight_decay = 0.05 # adamw
initial_learning_rate = 1e-4 # adamw
max_learning_rate = 0.0015 # adamw
min_learning_rate = 0.00015 # adamw
warmup_iters = 50
cosine_cycle_iters = 4500
grad_clip_max_l2_norm = 1.0

[optimizer.muon.hidden]
initial_learning_rate = 0.015
max_learning_rate = 0.015
min_learning_rate = 0.0015
momentum = 0.95
weight_decay = 0.0

[optimizer.muon.head]
initial_learning_rate = 0.004
max_learning_rate = 0.004
min_learning_rate = 0.0004
betas = [0.9, 0.95]
eps = 1e-10
weight_decay = 0.05

[optimizer.muon.embed]
initial_learning_rate = 0.15
max_learning_rate = 0.15
min_learning_rate = 0.015
betas = [0.9, 0.95]
eps = 1e-10
weight_decay = 0.05

[optimizer.muon.scalar]
initial_learning_rate = 0.0008
max_learning_rate = 0.0008
min_learning_rate = 0.00008
betas = [0.9, 0.95]
eps = 1e-10
weight_decay = 0.05

[training]
batch_size = 188
max_train_iteration = 10000
max_val_iteration = 10
val_freq_iteration = 125
ckpting_save_iter = 1000
seed = 3407
skip_validation = true

[data]
runs_path = "./runs"
dataset_name = "Skylion007/openwebtext"
dataset_config = ""
train_split = "train"
val_split = "validation"
text_field = "text"
shuffle_buffer_size = 10000
shuffle_seed = 3407

[data.tokenizer]
vocab_path = "./data/gpt2_vocab.json"
merges_path = "./data/gpt2_merges.txt"
special_tokens = ["<|endoftext|>", "<|mask|>"]

[logging]
backend = "wandb"
architecture = "DiffusionLM"
dataset = "OpenWebText"

[wandb]
entity = "yiltro8-org"
project = "diffusion_lm"

[ddp]
backend = "nccl"               # gloo/nccl
num_nodes = 1                  # total nodes participating
num_gpus_per_node = 1          # processes launched per node (mp.spawn uses this)
node_rank = 0                  # index of this node
master_addr = "127.0.0.1"      # rank 0 hostname/IP
master_port = "29500"
bucket_size_mb = 200           # 0 = single bucket
